# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter = '\t')

### Step 4. See the first 10 entries

In [4]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
data.shape

(4622, 5)

In [6]:
# Solution 2
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [7]:
data.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
data.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [25]:
data.item_name.value_counts().reset_index().sort_values('item_name',ascending=False).head(1)['index']

0    [Diet Coke]
Name: index, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [24]:
data[data['item_name']=='Chicken Bowl']['quantity'].sum()

761

### Step 11. What was the most ordered item in the choice_description column?

In [26]:
data.choice_description.value_counts().reset_index().sort_values('choice_description',ascending=False).head(1)['index']

0    [Diet Coke]
Name: index, dtype: object

### Step 12. How many items were orderd in total?

In [27]:
data.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [31]:
data.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [35]:
data['item_price'] = data['item_price'].apply(lambda s: float(s.strip(' ').replace('$','')))

#### Step 13.c. Check the item price type

In [36]:
data.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [37]:
## Assuming itempice is total bill for this order
print(data['item_price'].sum())
## incase if it is just item price
data['total_bill']=data['item_price']*data['quantity']
print(data['total_bill'].sum())

34500.16
39237.02

### Step 15. How many orders were made in the period?

In [38]:
data['order_id'].max()

1834

### Step 16. What is the average revenue amount per order?

In [39]:
# Solution 1
print(data['total_bill'].sum()/data['order_id'].max())

21.39423118865867

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [40]:
data['item_name'].nunique()

50